{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block head %}
    <link href="/assets/css/govuk-frontend-3.11.0.min.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}GOV.UK - Building Passport Service{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Building Passport Service",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "experimental"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Building Passport Service</h1>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Link building safety, planning and enforcement records to buildings</li>
        <li>Explore document audit trails per building</li>
        <li>Generate and validate Building Passports</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "/ui/search",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You need to register for this service.</p>
      
      <p class="govuk-body">You can <a class="govuk-link" href="#">register online</a> or <a class="govuk-link" href="#">register by post</a>.</p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                What is a Building Passport?
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#">
                Help getting registered
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/js/govuk-frontend-3.11.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}